@font-face {
    font-family: 'Lucida Sans Unicode';
    src: url(../fonts/Lucida Sans Unicode.TTF);
}


@font-face {
    font-family: 'Arial Narrow Bold Italic';
    src: url(../fonts/ARIALNBI.TTF);
}


@font-face {
    font-family: 'Candara Bold';
    src: url(../fonts/CANDARAB.TTF);
}


