/**
 * Name: layout.css
 *
 *	T.O.C
 *
 * =Wrap
 * =Header Top
 * =Header
 * =Logo
 * =Menu
 * =Mobile Menu
 * =Mobile menu trigger
 * =Sticky Header
 * =Content
 * =Page Header
 * =Footer
 * =Footer Bottom
 * =Back to top
 * =Page 404
 *
 */


/* ==========================================================================
   =Wrap
   ========================================================================== */

	#wrap {
		position: relative;
		background-color: #fff;
	}

	@media (max-width: 767px) {

		#wrap {}

	}

/* ==========================================================================
   =Header
   ========================================================================== */

	#header {}

/* ==========================================================================
   =Logo
   ========================================================================== */

	#logo {
		display: inline-block;
		    padding: 12px 0 0px 0; /*   oman  padding: 48px 0 19px 0; прошлое */
	 width: 180px;  /*   oman   width: 180px; вообще убрать прошлое */
	}






	@media (min-width: 768px) and (max-width: 979px) {

		#logo { padding-top: 10px; /*   oman  padding-top: 37px; прошлое */  width: 180px;  /*   oman   width: 180px; вообще убрать прошлое */}

		/****Romanjuk Vika 23022016****/
		.mybackground .position-box:before {
			content: "";
			display: initial;
			width: 1000px;
			height: 2000px;
			background: rgba(255, 88, 20, 0.85);
			position: absolute;
			z-index: -1;
			-webkit-transform: rotate(106deg);
			-moz-transform: rotate(106deg);
			-o-transform: rotate(106deg);
			-ms-transform: rotate(106deg);
			transform: rotate(98deg);
			left: 127%;
			top: -113%;
			box-shadow: 0 0 25px #000000;
		}
		/****Romanjuk Vika 23022016****/

	}

/*******Romanjuk Vika 23022016*********/

	@media (min-width: 980px) and (max-width: 1025px) {
		.mybackground .position-box:before {
			content: "";
			display: initial;
			width: 1000px;
			height: 3000px;
			background: rgba(255, 88, 20, 0.85);
			position: absolute;
			z-index: -1;
			-webkit-transform: rotate(106deg);
			-moz-transform: rotate(106deg);
			-o-transform: rotate(106deg);
			-ms-transform: rotate(106deg);
			transform: rotate(106deg);
			left: 158%;
			top: -96%;
			box-shadow: 0 0 25px #000000;
		}
}
/*******Romanjuk Vika 23022016*********/

	@media (max-width: 767px) {

		#logo { padding-top: 10px; /*   oman  padding-top: 34px; прошлое */  width: 180px; /*   oman   width: 180px; вообще убрать прошлое */ }

		/****Romanjuk Vika 23022016****/
		.mybackground .position-box:before {
			content: "";
			display: initial;
			width: 1000px;
			height: 2000px;
			background: rgba(255, 88, 20, 0.85);
			position: absolute;
			z-index: -1;
			-webkit-transform: rotate(106deg);
			-moz-transform: rotate(106deg);
			-o-transform: rotate(106deg);
			-ms-transform: rotate(106deg);
			transform: rotate(98deg);
			left: 127%;
			top: -96%;
			box-shadow: 0 0 25px #000000;
		}
		/****Romanjuk Vika 23022016****/

	}

/* ==========================================================================
   =Menu
   ========================================================================== */

/* =Menu Basics
   ========================================================================== */

	.sf-menu,
	.sf-menu ul {
		padding: 0;
		margin: 0;
		list-style: none;
	}

	.sf-menu > li { float: left; }

	.sf-menu > li > a {
		position: relative;
		display: block;
	}

	/**
 	 * 1. z-index is 1025 because the sticky menu is 1020
 	 */

	.sf-menu .sf-mega,
	.sf-menu li.dropdown ul {
		position: absolute;
		z-index: 1025; /* 1 */
		top: 100%;
		left: 0;
		display: none;
	}

	.sf-menu li.dropdown { position: relative; }

	.sf-menu li.dropdown ul ul {
		top: -1px;
		left: 100%;
		margin-top: -10px;
		margin-left: 10px;
	}

	.sf-menu li:hover > .sf-mega,
	.sf-menu li.sfHover > .sf-mega,
	.sf-menu li.dropdown:hover > ul,
	.sf-menu li.dropdown.sfHover > ul { display: block; }

/* =Menu Skin
   ========================================================================== */

	.sf-menu {
		float: right;
		margin-top: 5px;
	}

	.sf-menu a {
		display: block;
		padding: 10px 0;
		border: 1px solid #6dcff6;
		font: 13px 'Open Sans', Arial, sans-serif;
		color: #323232;
		text-decoration: none;
	}

	.sf-menu li { margin-bottom: 3px; }
	.sf-menu li:last-child { margin-bottom: 0; }

	.sf-menu > li {
		margin-right: 15px;
		margin-bottom: 0;
	}

	.sf-menu li.dropdown a { padding: 10px 15px; }

	.sf-menu > li > a,
	.sf-menu > li.dropdown > a {
		padding: 45px 0 50px 0;
		border: none;
		font-size: 13px;
		text-transform: uppercase;
	}

	.sf-menu > li > a span {
		position: relative;
		z-index: 2;
		padding: 5px 15px;
		-webkit-transition: all 0.3s;
				transition: all 0.3s;
	}

	.sf-menu > li > a span:before {
		position: absolute;
		top: -5px;
		right: -5px;
		bottom: -5px;
		left: -5px;
		border: 1px solid transparent;
		content: "";
	}

	.sf-menu > li > a span:after {
		position: absolute;
		z-index: -1;
		top: 0;
		left: 50%;
		width: 0;
		height: 100%;
		background-color: #6dcff6;
		opacity: 0;
		content: "";
		-webkit-transform: translateX(-50%);
			-ms-transform: translateX(-50%);
				transform: translateX(-50%);
		-webkit-transition: all 0.3s;
				transition: all 0.3s;
	}

	.sf-menu > li a i { margin-right: 5px; }

	.sf-menu > li.current > a span,
	.sf-menu li.sfHover > a span,
	.sf-menu a:hover span,
	.sf-menu li.sfHover a:hover span {
		background-color: #6dcff6;
		color: #fff;
		text-decoration: none;
		-webkit-transition: none;
				transition: none;
	}

	.sf-menu > li.current > a span:before,
	.sf-menu li.sfHover > a span:before,
	.sf-menu a:hover span:before,
	.sf-menu li.sfHover a:hover span:before { border-color: #6dcff6; }

	.sf-menu > li > a:hover span:after {
		width: 100%;
		opacity: 1;
	}

	.sf-menu > li > a:hover span {
		background-color: transparent;
		color: #fff;
	}

/* =DropDown
   ========================================================================== */

	/**
 	 * 1. allow long menu items to determine submenu width
 	 */

	.sf-menu li.dropdown ul {
		min-width: 180px; /* 1 */
		padding: 10px;
		border: 1px solid #ccc;
		background-color: #fff;
	}

	.sf-menu > li.dropdown > ul {}

	.sf-menu li.dropdown ul li a {
		position: relative;
		z-index: 2;
		-webkit-transition: all 0.3s;
				transition: all 0.3s;
	}

	.sf-menu li.dropdown ul li a:after {
		position: absolute;
		z-index: -1;
		top: 0;
		left: 50%;
		width: 0;
		height: 100%;
		background-color: #6dcff6;
		opacity: 0;
		content: "";
		-webkit-transform: translateX(-50%);
			-ms-transform: translateX(-50%);
				transform: translateX(-50%);
		-webkit-transition: all 0.3s;
				transition: all 0.3s;
	}

	.sf-menu li.dropdown ul li a:hover:after {
		width: 100%;
		opacity: 1;
	}

	.sf-menu li.dropdown ul li a:hover {
		background-color: transparent;
		color: #fff;
	}

/* =Mega Menu Section
   ========================================================================== */

	.sf-mega {
		width: 100%;
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
				box-sizing: border-box;
		padding: 15px 0;
		border: 1px solid #ccc;
		background-color: #fff;
	}

	.sf-mega-section {
		float: left;
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
				box-sizing: border-box;
		padding: 0 20px;
		border-right: 1px solid #ccc;
	}

	.sf-mega-section:last-child { border-right: none; }

	.sf-mega-section ul li a {
		position: relative;
		z-index: 2;
		padding-left: 15px;
		-webkit-transition: all 0.3s;
				transition: all 0.3s;
	}

	.sf-mega-section ul li a:after {
		position: absolute;
		z-index: -1;
		top: 0;
		left: 50%;
		width: 0;
		height: 100%;
		background-color: #6dcff6;
		opacity: 0;
		content: "";
		-webkit-transform: translateX(-50%);
			-ms-transform: translateX(-50%);
				transform: translateX(-50%);
		-webkit-transition: all 0.3s;
				transition: all 0.3s;
	}

	.sf-mega-section ul li a:hover:after {
		width: 100%;
		opacity: 1;
	}

	.sf-mega-section ul li a:hover {
		background-color: transparent;
		color: #fff;
	}

	/**
 	 * 1. set mega menu section size, as a percentage of the mega menu width
 	 */

	.sf-mega.sf-mega-1-col .sf-mega-section{ width: 100%; } /* 1 */

	.sf-mega.sf-mega-2-col .sf-mega-section{ width: 50%; }

	.sf-mega.sf-mega-3-col .sf-mega-section{ width: 33.3333333333%; }

	.sf-mega.sf-mega-4-col .sf-mega-section{ width: 25%; }

/* =Menu Arrows
   ========================================================================== */

	.sf-arrows .sf-with-ul:after {
		position: absolute;
		top: 50%;
		right: 0;
		width: 0;
		height: 0;
		border: 5px solid transparent;
		border-top-color: #999;
		margin-top: 2px;
		content: "";
	}

	.sf-arrows > li > .sf-with-ul:focus:after,
	.sf-arrows > li:hover > .sf-with-ul:after,
	.sf-arrows > .sfHover > .sf-with-ul:after { border-top-color: rgba(0, 0, 0, 0.7); }

	.sf-arrows ul .sf-with-ul:after {
		border-color: transparent;
		border-left-color: #999;
		margin-top: -5px;
		margin-right: 4px;
	}

	.sf-arrows ul li > .sf-with-ul:focus:after,
	.sf-arrows ul li:hover > .sf-with-ul:after,
	.sf-arrows ul .sfHover > .sf-with-ul:after { border-left-color: rgba(0, 0, 0, 0.7); }

	@media (min-width: 768px) and (max-width: 979px) {

		#menu { display: none; }

		.sf-mega-section ul li a:after { background-color: transparent; }

	}

	@media (max-width: 767px) {

		#menu { display: none; }

		.sf-mega-section ul li a:after { background-color: transparent; }

	}

/* ==========================================================================
   =Mobile Menu
   ========================================================================== */

	#mobile-menu {
		border-bottom: 1px solid #ccc;
		margin-bottom: 0;
	}

	#mobile-menu li {
		display: block;
		margin: 0;
	}

	#mobile-menu > li > ul,
	#mobile-menu > li > ul > li > ul {
		display: none;
		margin-left: 0;
	}

	#mobile-menu .sf-mega {
		display: none;
		padding: 0;
		border: none;
		margin: 0;
	}

	#mobile-menu .sf-mega-section {
		float: none;
		width: 100%;
		padding: 0;
		border: none;
	}

	#mobile-menu .sf-mega-section ul { margin-left: 0; }

	#mobile-menu li a {
		position: relative;
		display: block;
		padding: 15px 25px;
		border-top: 1px solid #ccc;
		color: #323232;
		font-size: 13px;
		text-align: left;
		text-decoration: none;
	}
	#mobile-menu li a:hover { background-color: transparent; }

	#mobile-menu ul a { padding-left: 45px; }

	#mobile-menu ul li ul a  { padding-left: 65px; }

	#mobile-menu .mobile-menu-submenu-arrow {
		position: absolute;
		top: 0;
		right: 0;
		width: 70px;
		height: 100%;
		border-left: 1px solid #ccc;
		color: #323232;
		font-size: 20px;
		line-height: 50px;
		text-align: center;
		cursor: pointer;
	}

	#mobile-menu .mobile-menu-submenu-arrow:hover { background-color: #f0f0f0; }

	#mobile-menu li a:hover {}

	#mobile-menu { display: none; }

/* ==========================================================================
   =Mobile menu trigger
   ========================================================================== */

	#mobile-menu-trigger {
		float: right;
		display: none;
		font-size: 32px;
	}

	@media (min-width: 768px) and (max-width: 979px) {

		#mobile-menu-trigger {
			display: block;
			margin-top: 34px;
			margin-right: 0;
		}
/** Romanjuk Vika; before style23022016 **/
		.mybackground .position-box:before {
	    content: "";
		display: initial;
		width: 1000px;
		height: 2000px;
		    background: rgba(255, 88, 20, 0.85);
		position: absolute;
		z-index: -1;
		-webkit-transform: rotate(106deg);
		-moz-transform: rotate(106deg);
		-o-transform: rotate(106deg);
		-ms-transform: rotate(106deg);
		transform: rotate(98deg);
		left: 123%;
		top: -103%;
		box-shadow: 0 0 25px #000000;
			}
/** Romanjuk Vika; before style23022016 **/
	}

	@media (max-width: 767px) {

		#mobile-menu-trigger {
			position: absolute;
			top: 21px;
			right: 20px;
			display: block;
			padding: 10px;
			margin-top: 0;
		}

	}

	@media only screen and (min-width: 480px) and (max-width: 767px) {

		#mobile-menu-trigger { right: 30px; }

	}

/* ==========================================================================
   =Sticky Header
   ========================================================================== */

	@media (min-width: 1025px) {

	/**
 	 * We want to allow the header to be sticky on resolutions > 1024. In order to do this
	 * we position it absolute and when the sticky trigger point is reached we give the #header
     * the .stuck class	and change it's positioning to fixed
	 *
	 * 1. This value should be the height of the #header
 	 */
	/****** Romanjuk Vika 23022016*********/
		.mybackground .position-box:before {
			content: "";
			display: initial;
			width: 1000px;
			height: 3000px;
			    background: rgba(255, 88, 20, 0.85);
			position: absolute;
			z-index: -1;
			-webkit-transform: rotate(106deg);
			-moz-transform: rotate(106deg);
			-o-transform: rotate(106deg);
			-ms-transform: rotate(106deg);
			transform: rotate(106deg);
			left: 153%;
			top: -145%;
			box-shadow: 0 0 25px #000000;
		}
	/****** Romanjuk Vika 23022016*********/

		#wrap {
			padding-top: 118px; 	/* 1 */
		}

		#header {
			position: absolute;
			top: 0;
			right: 0;
			left: 0;
			margin: 0 auto;

		}

		/**
		 * 1. The z-index has to be 1020 so it is bigger than the back to top buttons z-index that is 1010
		 */

		#header.stuck {
			position: fixed;
			z-index: 1020; /* 1 */
			top: 0;
			width: 100%;
			padding: 5px 0 0 0;
			box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
			margin: 0 auto;
			background-color: #fff;
			-webkit-transition: padding 0.3s;
					transition: padding 0.3s;
		}

		#header.stuck #logo {  padding: 1px 0 0px 0;
width: 110px !important;   /* oman padding: 17px 0 5px 0; */ }




		#header.stuck .sf-menu > li > a,
		#header.stuck .sf-menu > li.dropdown > a { padding: 15px 0 25px 0; }

		#header.stuck .sf-arrows .sf-with-ul:after { margin-top: -6px; }

	}

/* ==========================================================================
   =Content
   ========================================================================== */

	#content { padding-bottom: 50px; }

	.title-page-cms{
		text-align: center;
		margin-top: 40px;
	}

	.img-cms-in-page{
		margin: 0 auto;
		text-align: center;
	}

/* ==========================================================================
   =Page Header
   ========================================================================== */

	#page-header {
		height: 270px;
		background: no-repeat center center;
	}

/* ==========================================================================
   =Footer
   ========================================================================== */

	#footer {
		position: relative;
		padding: 50px 0 130px 0;
		background: #5a747e;
		color: #fff;
	}

	#footer a { color: #fff; }

	#footer .widget { margin-bottom: 30px; }

	#footer .widget-title {
		margin-bottom: 15px;
		font-size: 20px;
		line-height: 24px;
	}

	#footer-widget-area-1 {}
	#footer-widget-area-2 {}
	#footer-widget-area-3 {}
	#footer-widget-area-4 {}

	@media (max-width: 767px) {

		#footer .widget-title { margin-bottom: 20px; }

	}

/* ==========================================================================
   =Footer Bottom
   ========================================================================== */

	#footer-bottom {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		padding: 30px 0;
		background-color: rgba(0, 0, 0, 0.1);
	}

	#footer-bottom .widget:last-child { margin-bottom: 0; }

	#footer-bottom-widget-area-1 {}
	#footer-bottom-widget-area-2 {}

/* ==========================================================================
   =Back to top
   ========================================================================== */

	#back-to-top {
		position: fixed;
		z-index: 1010;
		right: -40px;
		bottom: 20px;
		width: 40px;
		height: 40px;
		background-color: #323232;
		color: #fafafa;
		font-size: 30px;
		line-height: 40px;
		text-align: center;
		text-decoration: none;
		opacity: 0.5;
		cursor: pointer;
		-webkit-transition: all 0.4s ease 0s;
				transition: all 0.4s ease 0s;
	}

	#back-to-top i {
		font-size: 24px;
		line-height: 40px;
		font-weight: normal;
		vertical-align: top;
		-webkit-transition: all 0.4s ease 0s;
				transition: all 0.4s ease 0s;
	}

	#back-to-top:hover { background-color: rgba(0, 0, 0, 0.7); }
	#back-to-top:hover i { color: #fff; }
	#back-to-top.visible { right: 40px; }
	#back-to-top.gone { right: -40px; }

/* ==========================================================================
   Page 404
   ========================================================================== */

	.error-page {
		display: inline-block;
		width: 330px;
		height: 330px;
		border: 2px solid #6dcff6;
		border-radius: 50%;
		margin-bottom: 50px;
	}

	.error-page h1 {
		color: #6dcff6;
		font-size: 72px;
		line-height: 330px;
	}

/* ==========================================================================
   Oman + style
   ========================================================================== */


.forms h4{
	color: #fff;
	font-weight: 900;
}

.mybackground {
	margin-bottom: 0px;
    padding-bottom: 0px;
    background: url(http://assort.in.ua/_content/index/slider/foneg1.png) no-repeat;
    position: relative;
    z-index: 0;
    background-size: cover;
}


#wrap {
    background-color: transparent;
    padding-top: 0;
}



#mobile-menu {
    background: #fff;
    z-index: 10;
    position: relative;
}


#header{
	background-color: #fff;
    z-index: 9999999;
    position: relative;
}

.forms{
	z-index: 9;
    position: relative;
    display: inherit;
	text-align: center;
}

.position-box:before {
    content: "";
    display: initial;
    width: 1000px;
    height: 2000px;
    background: #ff5814;
    position: absolute;
    z-index: -1;
    -webkit-transform: rotate(106deg);
    -moz-transform: rotate(106deg);
    -o-transform: rotate(106deg);
    -ms-transform: rotate(106deg);
    transform: rotate(106deg);
    left: 106%;
    top: -145%;
    box-shadow: 0 0 25px #000000;
}

.position-box{
	padding-top: 50px;
    padding-bottom: 50px;
}


.forms input{
    width: 100%;
    margin-bottom: 10px;
    background: rgb(255, 255, 255);
    border: none;
    outline: none;
    padding: 10px;
    font-size: 13px;
    color: #000;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    border: 1px solid #f0f0f0;
    border-radius: 4px;
    box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
    -webkit-transition: box-shadow .5s ease;
    -moz-transition: box-shadow .5s ease;
    -o-transition: box-shadow .5s ease;
    -ms-transition: box-shadow .5s ease;
    transition: box-shadow .5s ease;
}


.forms textarea{
	width: 100%;
    margin-bottom: 10px;
    background: rgb(255, 255, 255);
    border: none;
    outline: none;
    padding: 10px;
    font-size: 13px;
    color: #000;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    border: 1px solid #f0f0f0;
    border-radius: 4px;
    box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
    -webkit-transition: box-shadow .5s ease;
    -moz-transition: box-shadow .5s ease;
    -o-transition: box-shadow .5s ease;
    -ms-transition: box-shadow .5s ease;
    transition: box-shadow .5s ease;
	height: 200px!important; /*****  Roanjuk Vika 23022016 *****/
}


.forms-botton {
   background-color: #4a77d4;
    background-image: -moz-linear-gradient(top, #6eb6de, #4a77d4);
    background-image: -ms-linear-gradient(top, #6eb6de, #4a77d4);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#6eb6de), to(#4a77d4));
    background-image: -webkit-linear-gradient(top, #6eb6de, #4a77d4);
    background-image: -o-linear-gradient(top, #6eb6de, #4a77d4);
    background-image: linear-gradient(top, #6eb6de, #4a77d4);
    background-repeat: repeat-x;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr=#6eb6de, endColorstr=#4a77d4, GradientType=0);
    border: 1px solid #3762bc;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.5);
    padding: 9px 14px;
    font-size: 15px;
    line-height: normal;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

}

/**** Ylevkovich 02032016 ***/
.form-access{
	display: none;
	height: 307px;
	/* margin-bottom: 10px; */
	background: rgb(255, 255, 255);
	border: none;
	outline: none;
	padding: 10px;
	font-size: 18px;
	color: #24A0A9;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
	border: 1px solid #f0f0f0;
	border-radius: 4px;
	box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
	-webkit-transition: box-shadow .5s ease;
	-moz-transition: box-shadow .5s ease;
	-o-transition: box-shadow .5s ease;
	-ms-transition: box-shadow .5s ease;
	transition: box-shadow .5s ease;
}
/***End Ylevkovich ***/


@media only screen and (max-width: 767px) and (min-width: 480px){
.position-box:before{
left: 0!important;}
}

@media only screen and (max-width: 980px) and (min-width: 50px){


#mobile-menu .sf-mega-section ul li h6 {
    font-size: 16px;
    line-height: 27px;
    border-top: 1px solid #ccc;
    padding: 15px 25px;
    font-weight: 900;
}

}

/* ==========================================================================
   VIKUSYA + style
   ========================================================================== */

#page-header:before {
       content: "";
    display: inline-block;
    width: 100%;
    height: 100%;
    background: rgba(73, 186, 231, 0.41);
    z-index: 15;
    position: relative;

}